@model List<IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
}




<h3>@ViewData["Title"]</h3>

<partial name="_StatusMessage" />


<div class="mb-2">
    <a class="btn btn-secondary" asp-action="Create">Create a new role</a>
</div>

<table class="table">
    <tr>
        <th>Role Name</th>
        <th>Hanlder</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>
                <p>@role.Name</p>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-roleid="@role.Id">Delete</a>
            </td>
        </tr>
    }
</table>