@model Clip
@{

}

<h1> Clip : @Model.Name </h1>

<div class="mt-4">
    <div class="row">
        <div class="card">
            <iframe width=" 1280" height="720" src="https://www.youtube.com/embed/@Model.Url"
                    title="YouTube video player" frameborder="0" allow="accelerometer;
                            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                            web-share" allowfullscreen>
            </iframe>
            <p class="card-text">TimeCreated : @Model.TimeCreated</p>
            <p class="card-text">Author: <a class="text-decoration-none fw-bold mb-1" href="~/@Model.AuthorUsername"> @Model.AuthorUsername </a> </p>

            <div class="row">
                <div class="col-md-4">
                    <form asp-controller ="Home" asp-action="Edit" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Url" class="control-label"></label>
                            <input asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


